In [23]:
import pandas as pd
import re

In [24]:
data = pd.read_csv('tripadvisor_hotel_reviews.csv')
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [25]:
length = len(data.Review)
length

20491

In [26]:
# Detecting 3 basic sentiments:

def sentiment(rating):
    if((rating == 1) or (rating == 2)):
        return 0
    elif(rating == 3):
        return 1
    elif((rating == 4) or (rating == 5)):
        return 2
    
data.Rating = data['Rating'].apply(sentiment) 
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

In [27]:
# Dealing with missing values:

data.info()

# There are no null or NaN values in the dataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

### clean the text and achieve the following:

In [28]:
# A sample of review before changes are done:

data.loc[204, 'Review']

'posh hotel husband stayed hilton seattle september 2003 night really liked, stayed queen room bed, bed linens wall paper furniture bathroom really nice, nice view, centrally located, reserved room hotwire.com room 100,  '

In [29]:
# Lower all the text:

for i in range(length):
    
    hyperlink = re.compile(r'([A-Z])')
    hyperlink_match = hyperlink.finditer(data.loc[i, 'Review'])
    
    for match in hyperlink_match:
        print(i)
        print(match)
        
# There are no capital letters to lower them!

In [30]:
# getting rid of all the hyperlinks (i assumed all of them end with .com)

for i in range(length):
    
    hyperlink = re.compile(r'([a-zA-Z0-9]+\.com\s)')
    hyperlink_match = hyperlink.finditer(data.loc[i, 'Review'])
    
#     for match in hyperlink_match:
#         print(i)
#         print(match)
        
    data.loc[i, 'Review'] = hyperlink.sub(r'', data.loc[i, 'Review'])

In [31]:
# substituting all the non alphabetical characters(a-z) by ‘ ‘ (space).

for i in range(length):
    
    alpSpace = re.compile(r'([^a-zA-Z])')
    alpSpace_match = alpSpace.finditer(data.loc[i, 'Review'])
    
#     for match in alpSpace_match:
#         print(i)
#         print(match)
        
    data.loc[i, 'Review'] = alpSpace.sub(r' ', data.loc[i, 'Review'])

In [32]:
# substituting multiple spaces with a single space.

for i in range(length):
    
    oneSpace = re.compile(r'(\s+)')
    oneSpace_match = oneSpace.finditer(data.loc[i, 'Review'])
    
#     for match in oneSpace_match:
#         print(i)
#         print(match)
        
    data.loc[i, 'Review'] = oneSpace.sub(r' ', data.loc[i, 'Review'])

In [33]:
# final output of a sample review after changes are done.

data.loc[204, 'Review']

'posh hotel husband stayed hilton seattle september night really liked stayed queen room bed bed linens wall paper furniture bathroom really nice nice view centrally located reserved room room '