In [1]:
import nltk
import pandas as pd
import string
import re

In [2]:
data = pd.read_csv('tripadvisor_hotel_reviews.csv')
#data

In [3]:
punctuations = string.punctuation
#punctuations

In [4]:
stop_words = nltk.corpus.stopwords.words('english')
#stop_words

In [5]:
ps = nltk.PorterStemmer()

In [6]:
no_nums = re.compile(r'(\d+\s|\s\d+)')

In [7]:
def NLP_preprocessing(text):
    remove_punctuation = [cha for cha in text if cha not in punctuations]          # getting rid of punctuations
    no_punctuation = ''.join(remove_punctuation)                                   # joining to make a string of a list
    tokens = nltk.word_tokenize(no_punctuation)                                    # tokenizing the string
    unnecessary_words_removed = [cha for cha in tokens if cha not in stop_words]   # removing stop words
    stemmed = [ps.stem(cha) for cha in unnecessary_words_removed]                  # stemming the list
    text = " ".join(stemmed)                                                       # joining to make a string of a list
    
    return no_nums.sub("", text)                                                   # returning the string after removing numerical digits

In [8]:
data["Review"] = data.Review.apply(NLP_preprocessing)

In [9]:
data

                                                  Review  Rating
0      nice hotel expens park got good deal stay hote...       4
1      ok noth special charg diamond member hilton de...       2
2      nice room experi hotel monaco seattl good hote...       3
3      uniqu great stay wonder time hotel monaco loca...       5
4      great stay great stay went seahawk game awesom...       5
...                                                  ...     ...
20486  best kept secretrd time stay charmstar ca nt b...       5
20487  great locat price view hotel great quick place...       4
20488  ok look nice modern outsid desk staff nt parti...       2
20489  hotel theft ruin vacat hotel open sept guest w...       1
20490  peopl talk ca nt believ excel rate hotel nt ye...       2

[20491 rows x 2 columns]